.TelaCheia {
    height: 98vh;
    width: 100vw;
}

.TelaNormal {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    max-height: 100vh;
  }

footer {
      text-align: center;
  }

.FundoPreto {
    background-color: black;
  }

#loading {
  margin-left: 50%;
  margin-top: 24vw;
}

.principal {
  height: 80vh;
  width: 98vw;
}